[package]
name = "path-tree"
version = "0.1.8"
authors = ["Fangdun Cai <cfddream@gmail.com>"]
edition = "2018"
description = "Path-based routing tree"
repository = "https://github.com/trek-rs/path-tree"
documentation = "https://github.com/trek-rs/path-tree/"
readme = "README.md"
keywords = ["radix", "tree", "path", "router"]
license = "MIT/Apache-2.0"

[lib]
bench = false

[dev-dependencies]
actix-router = "^0.1"
path-table = "^1.0"
route-recognizer = "^0.1"
criterion = "^0.2"
hyper = "^0.12"
futures = "^0.1"

[[bench]]
name = "routers"
harness = false

[[example]]
name = "hello"
path = "examples/hello.rs"

[[test]]
name = "basic"
path = "tests/basic.rs"

[[test]]
name = "github"
path = "tests/github.rs"
